<div class="back-close-nav">
<%= link_to baby_path(@baby) do %>
 <div>
 <img src="<%= image_path('back-arrow.svg') %>" alt="" style="width:25px; margin:25px"></div>
</div>
<% end %>


<h1>Graph</h1>
 <div class="container">
    <canvas id="mybreastchart" data-breastfeedingweek="<%= @last7.to_json %>" data-breastfeedingmonth="<%= @last30.to_json %>" ></canvas>
 </div>
<div class="container">
  <div id="last7" class="btn btn-ghost">Last 7 days</div>
  <div id="last30" class="btn btn-ghost">Last 30 days</div>
</div>

<% @feedings.each do |f| %>
<div class="log-row">
  <div><img src="<%= image_path('breast.svg') %>" alt="" style="width:30px"></div>
  <div><p><%= f[:quantity] %></p></div>
  <div><p><%= f[:time_fed] %></p></div>
  <div><img src="<%= image_path('close.svg') %>" alt="" style="width:15px"></div>
</div>
<hr>
<% end %>




<%= javascript_pack_tag 'breastchart' %>
