<div class ="badge-container" >

<%= link_to :back do %>
 <div>
 <img src="<%= image_path('back-arrow.svg') %>" alt="" style="width:25px; margin:25px"></div>
</div>
<% end %>


<% @badge_ownerships.each do |b| %>
<% if b.badge_type == "Diaper Warrior" && b.user_id == current_user.id %>
<p>
<%= "you are Diaper Warrior" %>
</p>
<% elsif b.badge_type == "Diaper Warrior" && b.user_id != current_user.id %>
<p>
   <h2>Badges unlocked by other caretakers</h2>
<%= "your caretaker is a Diaper Warrior" %>
</p>
<% else %>
<%= "pas de warrior" %>
<% end %>
<% end %>


</div>

