
<%= link_to baby_path(@baby) do %>
  <div>
    <img src="<%= image_path('back-arrow.svg') %>" alt="" style="margin: 30px;"></div>
  </div>
<% end %>

<h1>My Badges</h1>

  <div class="badge-group">

    <div class="badge-element">
      <img src="<%= image_path('sheep.png') %>" alt="">
      <h2>Sandman</h2>
      <p>10h of sleep</p>
    </div>

      <div class = "badge-element">
        <img src="<%= image_path('golden_nipple.svg') %>" alt="">
        <h2>Golden Nipple</h2>
        <p>Breastfeed 50 time</p>
      </div>

   <div class = "badge-element">
    <img src="<%= image_path('diaper_god.svg') %>" alt="">
    <h2>Diaper God</h2>
    <p>Change 100 diapers</p>
  </div>

   <div class="badge-element">
    <img src="<%= image_path('bottle_master.svg') %>" alt="">
    <h2>Bottle Master</h2>
    <p>Give 100 bottles</p>
  </div>


  </div>
</div>
<br>
<h1>Caretakers' Badges</h1>
<h2>Partner's Badges</h2>


  <div class="badge-group">

    <div class="badge-element">
      <img src="<%= image_path('diaper_expert.svg') %>" alt="">
      <h2>Diaper Expert</h2>
      <p>Change 25 diapers</p>
    </div>
   <div class="badge-element">
    <img src="<%= image_path('bottle_amateur.svg') %>" alt="">
    <h2>Bottle Amateur</h2>
    <p>Give 1 bottle</p>
  </div>


  </div>

<br>

<h1>Badges to unlock</h1>

<div class="badge-group" style="opacity: 0.5">

  <div class="badge-element">
    <img src="<%= image_path('bottle_amateur.svg') %>" alt="">
    <h2>Bottle Amateur</h2>
    <p>Give 1 bottle</p>
  </div>
  <div class = "badge-element">
    <img src="<%= image_path('diaper_god.svg') %>" alt="">
    <h2>Diaper God</h2>
    <p>Change 100 diapers</p>
  </div>
  <div class="badge-element">
    <img src="<%= image_path('diaper_master.svg') %>" alt="">
    <h2>Diaper Master</h2>
    <p>Change 50 diapers</p>
  </div>

  <div class="badge-element">
    <img src="<%= image_path('diaper_amateur.svg') %>" alt="">
    <h2>Diaper Amateur</h2>
    <p>Change 1 diaper</p>
  </div>
  <div class = "badge-element">
    <img src="<%= image_path('nipple_warrior.svg') %>" alt="">
    <h2>Nipple Warrior</h2>
    <p>Breastfeed 100 time</p>
  </div>
  <div class = "badge-element">
    <img src="<%= image_path('bronze_nipple.svg') %>" alt="">
    <h2>Bronze Nipple</h2>
    <p>Breastfeed 1 time</p>
  </div>

    <div class="badge-element">
      <img src="<%= image_path('diaper_warrior.png') %>" alt="">
      <h2>Diaper Warrior</h2>
      <p>10 OMG Diapers</p>
    </div>
  <div class = "badge-element">
    <img src="<%= image_path('silver_nipple.svg') %>" alt="">
    <h2>Silver Nipple</h2>
    <p>Breastfeed 25 time</p>
  </div>

</div>


