<%= link_to baby_path(@baby)do %>
  <div>
    <img src="<%= image_path('back-arrow.svg') %>" alt="" style="margin: 30px;"></div>
  </div>
<% end %>

<h1 style="color: #DFAB7B">Congratulations!</h1>

<div>
  <img src="<%= image_path(@badge[:svg]) %>" class="animated tada" alt="" style="height:300px; display: block; margin-left: auto; margin-right: auto; margin-top: 30px; margin-bottom: 15px">
</div>

<h1 style="color: #DFAB7B"><%= @badge[:title] %></h1>
<h2><%= @badge[:accomplishement] %>!</h2>

<div style="display: flex; justify-content: center; margin: 15px 15px;">
  <div style="margin: 15px 15px;">
    <i  data-toggle="modal" data-target="#exampleModal" class="fab fa-instagram" style='font-size: 35px'></i>
  </div>
  <div style="margin: 15px 15px;">
    <i  data-toggle="modal" data-target="#exampleModal" class="fab fa-facebook" style='font-size: 35px'></i>
  </div>
  <div style="margin: 15px 15px;">
    <i  data-toggle="modal" data-target="#exampleModal" class="fab fa-twitter" style='font-size: 35px'></i>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div style="margin: auto; margin-top: 35px; margin-bottom:15px;"><img src="<%= image_path('thomas_logo_2.png') %>" alt="" style="width: 150px;"></div>
      <div class="modal-header" style="display: flex; flex-wrap: wrap; justify-content: center">
        <div><img src="<%= image_path(@badge[:svg]) %>" alt="" style="height: 250px;"></div>
        <h1><%= @badge[:comment] %></h1>
      </div>
      <div class="modal-body">
        <input type="text" placeholder="Send a message!">
      </div>
      <div class="modal-footer">
        <button type="button" class="button-blue-small" data-dismiss="modal">Share!</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
      <input type="text" placeholder="Send a message!">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Share!</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
      </div>
      <div class="modal-body">
      <input type="text" placeholder="Send a message!">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Share!</button>
      </div>
    </div>
  </div>
</div>
