<div class="back-close-nav">

<%= link_to baby_path(@baby) do %>
  <div>
    <img src="<%= image_path('back-arrow.svg') %>" alt="" style="width:25px; margin:25px"></div>
  </div>
<% end %>

<h1>Sleep Sessions</h1>
<br>
<div class="container" style="margin-bottom: 45px;">

  <div class="range-slider">
    <span id="rs-bullet" class="rs-label">0</span>
    <input id="rs-range-line" class="rs-range" type="range" value="0" min="0" max="10" step="0.5">
  </div>

</div>

<div style="display: flex; justify-content: center; flex-wrap: wrap; margin-top: 20px">
  <%= simple_form_for [@baby, @sleep] do |f| %>
    <%= f.input(:sleep_time, as: :hidden)%>
    <%= f.submit("Accept", class: "button-blue-large") %>
  <% end %>
</div>

<script>
  const rangeSlider = document.getElementById("rs-range-line");
  const rangeBullet = document.getElementById("rs-bullet");

  rangeSlider.addEventListener("input", showSliderValue, false);

  function showSliderValue() {
    rangeBullet.innerHTML = rangeSlider.value;
    var bulletPosition = (rangeSlider.value /rangeSlider.max);

    const newData = document.getElementById("sleep_sleep_time");
    // set the value of the query selected variable of the form above to the new value `newQuantity`
    newData.value = bulletPosition * 10;

  }


  // const displayedQuantity = rangeBullet.innerHTML;

</script>


