<%= render 'shared/navbar' %>


<div class="dropdown" style="text-align:center;">

  <button class="btn btn-white dropdown-toggle" type="button" data-toggle="dropdown">
    <h1 style="text-align:center; padding-bottom: 0; margin: 0;">
      <%= @baby.name %>
    </h1>
    <span class="caret"></span>
  </button>

  <ul class="dropdown-menu" style="text-align:center;">
    <% current_user.babies.each do |b|  %>
      <%= link_to baby_path do %>
        <li><h2><%= b.name %></h2></li>
      <% end %>
    <% end %>
  </ul>

</div>

<div class="category-selector">

 <%= link_to baby_bottle_feedings_path(@baby) do %>
  <div class="category-card">
    <img src="<%= image_path('baby-bottle.svg') %>" alt="">
    <div><p>125ml</p></div>
  </div>
<% end %>
<%= link_to baby_sleeps_path(@baby) do %>
  <div class="category-card">
    <img src="<%= image_path('moon.svg') %>" alt="">
    <div><p>4.5h</p></div>
  </div>
<% end %>
    <div class="category-card">
      <img src="<%= image_path('give.svg') %>" alt="">
      <div><p>Happy</p></div>
    </div>
  <%= link_to baby_diapers_path(@baby) do %>
    <div class="category-card">
      <img src="<%= image_path('diaper.svg') %>" alt="">
      <div><p>4 changes</p></div>
    </div>
  <% end %>

</div>

<div class="time-selector">
  <div class="button-blue-small"> <%= link_to "Bottle", new_baby_bottle_feeding_path(@baby) %></div>
  <div class="button-blue-small"> <%= link_to "Breast", new_baby_breast_feeding_path(@baby) %></div>
</div>

<div class="button-blue-large"><%= link_to "Sleep", new_baby_sleep_path(@baby) %></div>
<div class="button-blue-large"><%= link_to "Mood", new_baby_sleep_path(@baby) %></div>
<div class="button-blue-large"> <%= link_to "Diapers", new_baby_diaper_path(@baby) %></div>

<div class="down-arrow" style="margin-top: 25px"><img src="<%= image_path('down-arrow.svg') %>" alt=""></div>

<h1 style="text-align:center">Last logs</h1>

<% @feedings = @feedings.first(20) %>
<% @feedings.each do |f| %>

  <div class="log-row">
    <% if f[:type] == "bottle" %>
      <div><img src="<%= image_path('baby-bottle.svg') %>" alt="" style="width:30px"></div>
      <div><p><%= f[:quantity] %></p></div>
      <div><p><%= User.find(f[:user_id]).name %></p></div>
      <div><p><%= f[:start_date].in_time_zone("EST").strftime("%b %e, %H:%M") %></p></div>
        <%= link_to bottle_feeding_path(f[:id], location: :home, baby_id: @baby.id), method: :delete do %>
          <div><img src="<%= image_path('close.svg') %>" alt="" style="width:15px"></div>
        <% end %>
    <% elsif f[:type] == "boob"%>
      <div><img src="<%= image_path('breast.svg') %>" alt="" style="width:30px"></div>
      <div><p><%= f[:duration_minutes] %></p></div>
      <div><p><%= User.find(f[:user_id]).name %></p></div>
      <div><p><%= f[:start_date].in_time_zone("EST").strftime("%b %e, %H:%M") %></p></div>
        <%= link_to breast_feeding_path(f[:id], location: :home, baby_id: @baby.id), method: :delete do %>
          <div><img src="<%= image_path('close.svg') %>" alt="" style="width:15px"></div>
        <% end %>
    <% elsif f[:type] == "diaper" %>

      <div><img src="<%= image_path('diaper.svg') %>" alt="" style="width:30px"></div>
      <div><p><%= f[:category] %></p></div>
      <div><p><%= User.find(f[:user_id]).name %></p></div>
      <div><p><%= f[:start_date].in_time_zone("EST").strftime("%b %e, %H:%M") %></p></div>
      <%= link_to diaper_path(f[:id], location: :home, baby_id: @baby.id), method: :delete do %>
        <div><img src="<%= image_path('close.svg') %>" alt="" style="width:15px"></div>
      <% end  %>
    <% elsif f[:type] == "sleep" %>

      <div><img src="<%= image_path('moon.svg') %>" alt="" style="width:30px"></div>
      <div><p><%= f[:sleep_time] %> min</p></div>
      <div><p><%= User.find(f[:user_id]).name %></p></div>
      <div><p><%= f[:start_date].in_time_zone("EST").strftime("%b %e, %H:%M") %></p></div>
      <%= link_to sleep_path(f[:id], location: :home, baby_id: @baby.id), method: :delete do %>

        <div><img src="<%= image_path('close.svg') %>" alt="" style="width:15px"></div>
      <% end %>
    <% end %>
  </div>
  <hr>
<% end %>
