<%= render 'shared/navbar' %>

<div style="display: flex; justify-content: center;">
  <h1 style="text-align:center">Anita</h1>
  <img src="<%= image_path('down-arrow.svg') %>" alt="" style="width: 15px; margin-left: 10px; margin-bottom: 8px;">
</div>

<div class="category-selector">

<%= link_to baby_bottle_feedings_path(@baby) do %>
  <div class="category-card">
    <img src="<%= image_path('baby-bottle.svg') %>" alt="">
    <div><p>125ml</p></div>
  </div>
<% end %>
<%= link_to baby_sleeps_path(@baby) do %>
  <div class="category-card">
    <img src="<%= image_path('moon.svg') %>" alt="">
    <div><p>4.5h</p></div>
  </div>
<% end %>
  <div class="category-card">
    <img src="<%= image_path('give.svg') %>" alt="">
    <div><p>Happy</p></div>
  </div>
  <div class="category-card">
    <img src="<%= image_path('diaper.svg') %>" alt="">
    <div><p>4 changes</p></div>
  </div>
</div>

<div class="time-selector">
  <div class="button-blue-small"> <%= link_to "Bottle", new_baby_bottle_feeding_path(@baby) %></div>
  <div class="button-blue-small"> <%= link_to "Breast", new_baby_breast_feeding_path(@baby) %></div>
</div>

<div class="button-blue-large"><%= link_to "Sleep", new_baby_sleep_path(@baby) %></div>
<div class="button-blue-large">Mood</div>
<div class="button-blue-large">Diapers</div>

<div class="down-arrow" style="margin-top: 25px"><img src="<%= image_path('down-arrow.svg') %>" alt=""></div>

<h1 style="text-align:center">Your Day</h1>

<% @feedings.each do |f| %>
  <div class="log-row">
    <% if f[:type] == "bottle" %>
      <div><img src="<%= image_path('baby-bottle.svg') %>" alt="" style="width:30px"></div>
      <div><p><%= f[:quantity] %></p></div>
      <div><p><%= f[:time_fed] %></p></div>
      <div><img src="<%= image_path('close.svg') %>" alt="" style="width:15px"></div>
    <% else %>
      <div><img src="<%= image_path('breast.svg') %>" alt="" style="width:30px"></div>
      <div><p><%= f[:duration_minutes] %></p></div>
      <div><p><%= f[:time_fed] %></p></div>
      <div><img src="<%= image_path('close.svg') %>" alt="" style="width:15px"></div>
    <% end %>
  </div>
  <hr>
<% end %>
